<!DOCTYPE html>
<html><head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Chapter 4: Templates</title>
    <link rel="stylesheet" href="_static/reset-min.css" type="text/css">
    <link rel="stylesheet" href="_static/grids-min.css" type="text/css">
    <link rel="stylesheet" href="_static/djangobook.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  <meta name="boolyrun" content="1359837780044-2951"><script>window["_GOOG_TRANS_EXT_VER"] = "1";</script></head>
  <body>
        <div id="video_box">
            <video width="320" height="240" id="video">
                <source src="static/movie.mov" type="video/mp4"/>
            </video>
            <div id="">

            </div>
        </div>
        <div id="comments">
            {% for visual_tag in visual_tags %}
                {% for comment in visual_tag.comments %}
                    <p>{{comment.content}}</p>
                {% endfor %}
            {% endfor %}
        </div>
  
  
</body></html>