
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sample Tagger</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/style.css">
    

	<script type='text/javascript' src='http://code.jquery.com/jquery-2.0.0b1.js'></script>
	<script type='text/javascript' src='/static/bootstrap/js/tag.js'></script>
    <script type='text/javascript'>
        var workspace_id = {{workspace_id}};
        var user_id = {{user_id.pk}};
        var media_item_id = {{media_item.id}};
        var frame_times = {{frame_times|safe}};
    </script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Sample Tagger</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      	<h2>Sample presentation: {{ sample_preso }}</h2>
        <p>Version 2. Presented Jan 3, 2013 by <a href="#">De Vasco Fashions (Mexico)</a>.</p>
      	<h3>View: {{ media_item }}</h1>
        <p>{{media_item.media_item_description}}</p>
        <div class="row">
	        <div id="video_box" class="span7">
	            <video width="550" height="410" id="video" controls>
	                <source src="{{ MEDIA_URL }}{{ media_item.media_file}}" type="video/mp4"/>
	            </video>
              <canvas width="550" height="410">
              </canvas>
	            <div id="new_tag"></div>
	        </div>
	        <div class="span 4">
		        <div id="video_controls">
		            <div id="play"/>
		            <div id="time_slider"/>
		        </div>
            <div class="comment-bar" style="{display:hidden}">
              <span class="comment-text">Some comment text.</span>
              <span class="comment-date">Feb 3, 2013 9:05 am</span>
            </div>
		        <div id="comment_section">
		            <textarea id="new_comment"></textarea>
		            <input type="submit" value="Add Comment" id="add_comment"></input>
                {% for frame in frames %}
                  <div class="frame_groups" data-id="{{frame.id}}">
                    {% for visual_tag in frame.visual_tags %}
                      <div class="visual_tag" data-id="{{visual_tag.id}}">
                        {% for comment in visual_tag.comments %}
                          <div class="comment">
                            <span class="comment_text">{{comment.text}}</span>
                          </div>
                        {% endfor %}
                      </div>
                    {% endfor %}
                  </div>
                {% endfor %}
		        </div>
	        </div>
        </div>


    </div> <!-- /container -->

  </body>
</html>
