# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

.DS_Store
*.pyc

demotagger/localsettings.py

*.mov
demotagger/media_wkf/__init__.pyc

demotagger/media_wkf/models.pyc

demotagger/settings.pyc

demotagger/utilities/__init__.pyc

demotagger/utilities/models.pyc
